{% extends 'main/base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>List of Bookings</h2>
    {% if bookings %}
      <div class="list-group">
        {% for booking in bookings %}
          <div class="list-group-item list-group-item-action">
            <h5 class="mb-1">
              User: {{ booking.user.username }}
              <small class="text-muted">Train: {{ booking.journey }}</small>
            </h5>
            <p class="mb-1">
              Amount Paid: {{ booking.amount_paid }}
            </p>
            <p class="mb-1">
              <strong>Passengers:</strong>
            </p>
            <ul class="list-group">
              {% for passenger in booking.passenger_set.all %}
                <li class="list-group-item">
                  {{ passenger.name }} - {{ passenger.gender }} - {{ passenger.age }} years old
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="lead">No bookings available.</p>
    {% endif %}
  </div>
{% endblock %}
